@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body{
  padding: 0;
  margin: 0;
  background-color: #17141d;
  color: white;
  font-family: 'DM Mono', monospace;
}
.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}
.card {
  height: 350px;
  max-width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
  transition: .2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
  color: white;
}

.card-list::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}
.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#f8f7fa,#f9f8fb 1px,#fffeff 0,#f8f8fa);
}

.card:hover{
  transform: translateY(-1rem);
}
/* .card:hover~.card{
  transform: translateX(130px);
} */

.card:not(:first-child){
  margin-left: 130px;
}
.card-header {
  margin-bottom: auto;
}
.card-author {
  margin: 3rem 0 0;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  position: relative;
}
.author-avatar {
  grid-area: auto;
  align-self: start;
  position: relative;
  box-sizing: border-box;
}
.author-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* filter: grayscale(100%); */
  display: block;
  overflow: hidden;
  margin: 16px 10px;
}
.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}
.rserve-button{
  border-radius: 10px;
}

