.example-card {
    max-width: 300px;
   height: 300px;
    
  }

 
  
  .example-header-image {

    background-size: cover;
    width: 100px;
    height: 100px;
     display: flex;
     flex-direction: row;
  }
  #card_div{
    display: flex;
    flex-direction: row;
    
   
  }
  img{

    width:30px;
    height: 30px;
    transition: width 2s, height 1.5s;
  
}
img:hover{
    cursor:pointer;
    border-style: solid;
   border-color: #D4F1F4;
   
 } 

 #img-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
 }