<button (click)="postData()">add data</button>
<hr />

<table class="table container">
  <thead class="thead-dark">
    <tr>
      <th scope="col">name</th>
      <th scope="col">place</th>
      <th scope="col">image</th>
      <th scope="col">delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let demo of dataResult">
      <td>{{ demo.demo.name }}</td>
      <td>{{ demo.demo.place }}</td>
      <td><img src="{{ demo.demo.url }}" alt="" /></td>
      <td>
        <button class="btn btn-danger" (click)="onclick(demo)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
