img{

    width: 100px;
    height: 100px;
    transition: width 2s, height 1.5s;
  
}
img:hover{
    width: 200px;
    height: 200px;
}
.moveToleft{
   transform: translateX(150%);
   transition-duration: 2.5s;
}

.table.button{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    
}